[submodule "ios"]
	path = ios
	url = https://github.com/dothq/browser-ios
[submodule "android"]
	path = android
	url = https://github.com/dothq/browser-android
[submodule "desktop"]
	path = desktop
	url = https://github.com/dothq/browser-ff
[submodule "ntp"]
	path = ntp
	url = https://github.com/dothq/ntp
[submodule "extensions/adblock"]
	path = extensions/adblock
	url = https://github.com/dothq-extensions/adblock.git
[submodule "extensions/adblock-db"]
	path = extensions/adblock-db
	url = https://github.com/dothq-extensions/shield-db.git
[submodule "services/updates"]
	path = services/updates
	url = https://github.com/dothq-services/update-server
	branch = main
