/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
    --tabs-border-color: transparent !important;
    --toolbarbutton-border-radius: 6px !important;
}

#urlbar {
    --urlbar-height: 34px !important;
}

.tabbrowser-tab .tab-stack .tab-background,
.tabbrowser-tab {
    border-radius: 6px 6px 0 0;
}

.tabbrowser-tab .tab-stack .tab-background .tab-line {
    height: 0px !important;
}

.tabbrowser-tab .tab-stack {
    margin-top: 2px;
}

.tab-background[multiselected="true"], .tab-background[selected="true"] {
    border: 0px solid transparent;
}

.tabbrowser-tab::after {
    display: none !important;
}

.titlebar-spacer[type="pre-tabs"] {
    border-inline-color: transparent !important;
}

#nav-bar {
    box-shadow: none !important;
}

#tabs-newtab-button {
    padding-top: 2px !important;
}

#titlebar {
    height: 36px;
}

.tab-text {
    font-size: 12px;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22),0 4.8px 14.4px 0 rgba(0,0,0,.18) !important;
}

#urlbar > #urlbar-background {
    border-color: transparent !important;
}

#urlbar:not([focused="true"]) > #urlbar-background {
    box-shadow: none !important;
}

#statuspanel-label {
    background-color: var(--toolbar-bgcolor) !important;
    border-color: var(--chrome-content-separator-color) !important;
    color: var(--toolbar-color) !important;
    font-size: 12px;
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
}

.panel-arrowcontent {
    border-radius: 6px;
}

.subviewbutton > .toolbarbutton-text {
    font-size: 12px;
}

.subviewbutton[shortcut]::after {
	opacity: 0.7;
	font-size: 12px;
}

#urlbar > #urlbar-input-container > #identity-box {
    padding-inline: 8px !important;
}

#urlbar[focused="true"] > #urlbar-input-container > #identity-box, 
#urlbar[focused="true"] > #urlbar-input-container > #tracking-protection-icon-container {
    border-radius: 4px;
}

#urlbar[focused="true"] > #urlbar-input-container > .urlbar-icon-wrapper, 
#urlbar[focused="true"] > #urlbar-input-container > .urlbar-icon {
    border-radius: 4px;
}

#urlbar .searchbar-engine-one-off-item {
	border-radius: 4px;
}

.urlbar-icon {
    height: var(--urlbar-height) !important;
    width: var(--urlbar-height) !important;
    --urlbar-icon-padding: 8px !important;
}

#identity-icon-label {
	padding-inline-start: 8px !important;
}

#identity-icon {
	margin-inline-start: 2px !important;
}

#tracking-protection-icon-container {
	padding-inline: 8px !important;
}