%if 0
/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif
@namespace html "http://www.w3.org/1999/xhtml";

@font-face {
  font-family: 'Inter';
  src: url('chrome://browser/content/preferences/fonts/Inter.ttf') format('truetype')
}

#preferences-stack {
	display: flex;
}

:root {
  --in-content-warning-container: var(--grey-20);
}

@media (prefers-color-scheme: dark) {
  :root {
    --in-content-warning-container: var(--grey-90-a30);
  }
}

#preferences-root {
  text-rendering: optimizeLegibility;
}

#preferences-root,
#preferences-body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

#preferences-body {
  vertical-align: top; /* See bug 1606130 */
  display: -moz-box;
  -moz-box-orient: vertical;
}

* {
  -moz-user-select: text;
}

/* Buttons, Switches etc */

switch {
  width: 48px;
  height: 24px;
  background-color: var(--lwt-sidebar-background-color);
  border-radius: 34px;
  min-height: 24px;
  margin-left: auto;
}

switch > .bobble {
  width: 18px;
  height: 18px;
  border-radius: 22px;
  background-color: #808080;
  display: flex;
  max-height: 18px;
  align-items: center;
  align-content: center;
  margin: 3px;
  transition: 0.3s background-color, 0.2s transform;
}

switch[checked="true"] > .bobble {
  background-color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color)) !important;
  transform: translateX(22px);
}

dmenu {
	background-color: #6c6c6c17 !important;
  border-radius: 6px !important;
	font-size: 14px !important;
	font-family: 'Inter', sans-serif !important;
	margin-left: auto;
	position: relative;
	height: 34px;
	z-index: 0;
  z-index: 100;
}

dmenu:hover {
  opacity: 0.7;
}

menuoption {
	display: flex;
	height: 100%;
	align-items: center;
  padding: 0 14px;
}

dmenu::after {
	content: "";
	width: 16px;
	height: 16px;
  mask-image: url(chrome://global/skin/icons/arrow-dropdown-12.svg);
  mask-size: cover;
  background-color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
	position: absolute;
	left: calc(100% - 16px - 12px);
	margin-top: calc(34px / 3.5);
	border-radius: 10px;
}

dmenu[open="true"] {
  border-radius: 6px 6px 0 0 !important;
  opacity: 1 !important;
}

dmenu[open="true"] > menuitemcontainer {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px);
}

menuitemcontainer {
  transition: 0.1s opacity, 0.15s transform;
	width: -moz-available;
	border-radius: 0 0 6px 6px !important;
	position: absolute;
	top: 34px;
	z-index: 1;
  display: flex;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
	background-color: #121212;
	flex-direction: column;
	overflow: hidden;
	padding: 4px 0;
}

menuitem {
	padding: 8px 0;
	padding-left: 14px;
	background-color: transparent;
	margin-bottom: 0px;
	border-radius: 0;
}

menuitem:hover {
  background-color: #6c6c6c17 !important;
}

/* Settings Rewrite */

#sidebar {
	width: 375px;
	height: 100%;
	background-color: var(--lwt-sidebar-background-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-width: 375px;
}

#sidebar > #sidebar-scroll-box {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 104px);
  overflow-y: auto;
}

#sidebar > #sidebar-scroll-box > .sidebar-container {
  padding: 36px;
  display: flex;
  flex-direction: column; 
}

#sidebar > .sidebar-header {
	width: 100%;
	height: 104px;
  display: flex;
  padding: 36px;
  transition: 0.3s box-shadow;
}

#sidebar > .sidebar-header > .sidebar-header-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
  height: min-content;
  color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
  -moz-user-select: none;
}

.icon-button {
	mask-size: calc(var(--size) * 0.5375);
	width: var(--size);
	height: var(--size);
	mask-position: center;
	mask-repeat: no-repeat;
  background-color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
  transition: 0.2s opacity;
}

.icon-button:hover {
  opacity: 0.7;
}

.icon-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

#search-icon-button {
  mask-image: url(chrome://browser/skin/search-glass.svg);
}

#sidebar > .sidebar-header > .sidebar-buttons {
	justify-content: flex-end;
	display: flex;
  width: 100%;
  gap: 14px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-image: var(--avatar-image);
  transition: 0.2s opacity;
}

.avatar:hover {
  opacity: 0.7;
}

.sidebar-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
}

.sidebar-section > heading {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
  color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
  text-transform: uppercase;
  font-family: inherit;
  -moz-user-select: none;

  margin-bottom: 18px;
}

.sidebar-section > .sidebar-item {
  width: 300px;
  height: 36px;
  margin-bottom: 8px;
  border-radius: 4px 28px 28px 4px;
  display: flex;
  flex-direction: row;
  padding: 9px 12px;
  transition: 0.12s ease-out background-color;
}

.sidebar-section > .sidebar-item > image {
  mask-size: 18px;
	width: 18px;
	height: 18px;
	mask-position: center;
	mask-repeat: no-repeat;
  background-color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
  margin-right: 12px;
  mask-image: var(--icon);
  transition: 0.12s ease-out background-color;
}

.sidebar-section > .sidebar-item > label {
  color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
  font-weight: 500;
  font-size: 14px;
  -moz-user-select: none;
  transition: 0.12s ease-out color;
  letter-spacing: 0.1px;
}

.sidebar-section > .sidebar-item[selected] {
  background-color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color)) !important;
  color: var(--lwt-sidebar-background-color, var(--newtab-background-color)) !important;
}

.sidebar-section > .sidebar-item:hover {
  background-color: #6c6c6c17;
}

.sidebar-section > .sidebar-item[selected] > image {
  background-color: var(--lwt-sidebar-background-color, var(--newtab-background-color)) !important;
}

.sidebar-section > .sidebar-item[selected] > label {
  color: var(--lwt-sidebar-background-color, var(--newtab-background-color)) !important;
}

.sidebar-section > .sidebar-link {
  width: 300px;
  height: 36px;
  margin-bottom: 8px;
  border-radius: 4px 28px 28px 4px;
  display: flex;
  flex-direction: row;
  padding: 9px 12px;
  transition: 0.12s ease-out background-color;
}

.sidebar-section > .sidebar-link > image {
  mask-size: 18px;
	width: 18px;
	height: 18px;
	mask-position: center;
	mask-repeat: no-repeat;
  background-color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
  margin-right: 12px;
  mask-image: var(--icon);
  transition: 0.12s ease-out background-color;
}

.sidebar-section > .sidebar-link > label {
  color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
  font-weight: 500;
  font-size: 14px;
  -moz-user-select: none;
  transition: 0.12s ease-out color;
  letter-spacing: 0.1px;
}

.sidebar-section > .sidebar-link:hover {
  background-color: #6c6c6c17;
}

#panels {
  width: 100vw;
}

#panels > * {
  -moz-user-select: none;
}

.settings-panel {
  transition: 0.2s opacity, 0.2s transform;
  opacity: 0;
  transform: translateX(-10px);
  color: var(--lwt-sidebar-text-color, var(--newtab-text-primary-color));
  -moz-user-select: none;
  display: flex;
  flex-direction: column;

  padding: 58px;
  overflow-x: auto;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100vw - 375px);
}

.panel-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.panel-subtitle {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 4px;
  font-weight: 600;
}

.panel-subtitle-description {
  font-size: 16px;
  opacity: 0.5;
  font-weight: normal;
}

.block-label {
	opacity: 0.9;
	font-size: 15px;
	font-weight: 500;
	width: -moz-available;
}

.block-desc {
  opacity: 0.4;
  font-size: 12px;
  font-weight: 300;
}

.setting-block {
  margin: 32px 0 0 0;
  padding-bottom: 58px;
  max-width: 800px;

  display: flex;
  flex-direction: column;
}

.setting-block-item {
  height: 34px;
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.block-group {
  display: flex;
  flex-direction: column;
  width: -moz-available;
}