<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
   <html>
     <head>
       <meta http-equiv="Content-Security-Policy" content="default-src chrome:; object-src 'none'">
       <meta charset="utf-8">
       <link rel="stylesheet" media="screen, projection" type="text/css"
             href="chrome://global/skin/in-content/common.css">
             
        <title data-l10n-id="pref-page-title"></title>

        <link rel="localization" href="branding/brand.ftl"/>
        <link rel="localization" href="browser/branding/brandings.ftl"/>
        <link rel="localization" href="browser/branding/sync-brand.ftl"/>
        <link rel="localization" href="browser/preferences/preferences.ftl"/>
        <!-- Used by fontbuilder.js -->
        <link rel="localization" href="browser/preferences/fonts.ftl"/>
        <link rel="localization" href="toolkit/featuregates/features.ftl"/>
    
        <!-- Links below are only used for search-l10n-ids into subdialogs -->
        <link rel="localization" href="browser/preferences/blocklists.ftl"/>
        <link rel="localization" href="browser/preferences/clearSiteData.ftl"/>
        <link rel="localization" href="browser/preferences/colors.ftl"/>
        <link rel="localization" href="browser/preferences/connection.ftl"/>
        <link rel="localization" href="browser/preferences/languages.ftl"/>
        <link rel="localization" href="browser/preferences/permissions.ftl"/>
        <link rel="localization" href="browser/preferences/selectBookmark.ftl"/>
        <link rel="localization" href="browser/preferences/siteDataSettings.ftl"/>
        <link rel="localization" href="browser/aboutDialog.ftl"/>
        <link rel="localization" href="browser/sanitize.ftl"/>
        <link rel="localization" href="toolkit/updates/history.ftl"/>
        <link rel="localization" href="security/certificates/deviceManager.ftl"/>
        <link rel="localization" href="security/certificates/certManager.ftl"/>
    
        <link rel="shortcut icon" href="chrome://global/skin/icons/settings.svg"/>
     </head>
     <body>
       <template id="main">
        this is an epic gamer moment :sunglasses:

        <img src="chrome://browser/content/preferences/melon.gif" />
       </template>
     </body>
</html>
   