body {
    margin-top: 22px;
    height: calc(100% - 22px)
}

.tabs-inner {
    margin-top: 56px;
}

.dot-tabbar {
    box-shadow: 0 -6.4px 14.4px 0 rgba(0,0,0,.132), 0px 0 0 0 rgba(0,0,0,.108)
}

.dot-toolbar {
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
    transition: box-shadow 0.2s cubic-bezier(0.2, 1, 0.2, 1) 0s
}

.dot-toolbar-container {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.dot-searchbox {
    background-color: #f0f0f0;
    margin-right: 8px;
    border-radius: 100px;
    width: auto;
    transition: margin-top 0.2s cubic-bezier(0.2, 1, 0.2, 1) 0s;
}

.dot-searchbox input {
    padding-left: 12px !important;
}

.dot-tabs-icon {
    --padding-start: 6px;
    --padding-end: 6px;
    --color: #7c7c7c;
}

.dot-tabs-icon-text {
    position: absolute;
    font-size: 11.5px;
    letter-spacing: -0.5px;
}

.dot-ntp-container {
    width: auto;
    height: auto;
    margin: 0 32px;
    margin-top: 28px;
}

.dot-ntp-logo {
    width: 52px;
    height: 52px;
    border-radius: 52px;
    margin: 0 auto;
    background-color: black;
}

.dot-ntp-searchbox {
    background-color: #f0f0f0;
    border-radius: 100px;
    width: auto;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 60px;
}

.dot-ntp-searchbox input {
    padding-left: 12px !important;
}

.header-md::after {
    display: none
}